@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

html {
    background-color: rgb(8, 7, 7);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.logo {
    max-width: 100px;
    margin: 10px;
}

.logo:hover {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2vh;
}

.headerText {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
}

.headerText:hover {
    color: rgb(199, 199, 199);
    text-decoration: underline;
}

.userFields {
    width: 200px;
    height: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
    caret-color: white;
    padding-left: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.formButton {
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-size: 10rem;
    overflow-wrap: break-word;
    margin-top: 5vh;
    margin-left: 2rem;
    line-height: 90%;
}

.title {
    color: white;
}

.searchBar {
    min-width: 50rem;
    min-height: 10rem;
    margin-left: 2rem;
    border-radius: 10px;
    font-size: 8rem;
    border: white 2px solid;
    background-color: transparent;
    caret-color: white;
    color: white;
    outline: none;
    padding-left: 1rem;
    margin-bottom: 3rem;
}

::placeholder {
    color: rgb(209, 209, 209)
}

.subHeading {
    font-weight: bold;
    font-size: 1.1rem;
}

hr {
    border-color: rgb(103, 103, 103);
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center space-around;
}

.movieArtwork {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieArtwork > img {
   border-radius: 1rem;
   height: 700px;
}

.movieDetails {
    color: white;
    height: 500px;
    width: 500px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.movieDetails::-webkit-scrollbar {
  width: 12px;
}

.movieDetails::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);        /* color of the tracking area */
}

.movieDetails::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}